---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Aditya">
  <main class="flex justify-center h-screen items-center px-4 bg-black">
    <div class="text-center">
      <h1 class="text-7xl font-bold mb-10">
        <span class="text-gray-300 nermy">Adi</span><span class="text-red-400 nermy">tya</span>
      </h1>
      
      <div class="instructions bg-neutral-900 max-w-3xl border border-neutral-800 shadow-lg">
        <p class="text-lg font-bold text-gray-200 mt-4">
          Hello, I am Aditya!
        </p>
        
        <div class="text-gray-400 text-2xl mt-8 flex flex-wrap justify-center space-x-4 border-t border-neutral-800 pt-6">
          <a class="hover:text-gray-300 transition duration-150" href="https://youtube.com/@adityaredflag">YouTube</a>
          <a class="hover:text-gray-300 transition duration-150" href="https://www.roblox.com/users/3507400125/profile">Roblox</a>
          <a class="hover:text-gray-300 transition duration-150" href="https://twitter.com/adityaREDFLAG">Twitter</a>
          <a class="hover:text-gray-300 transition duration-150" href="https://github.com/adityaREDFLAG">GitHub</a>
          <a class="hover:text-gray-300 transition duration-150" href="https://discord.com/invite/N9KD7au6hB">Discord</a>
          <a class="hover:text-gray-300 transition duration-150" href="https://www.instagram.com/imreallyadi/">Instagram</a>
          <a class="hover:text-gray-300 transition duration-150" href="mailto:adi.redflag@gmail.com">Mail</a>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  .nermy {
    background: linear-gradient(180deg, #6C6C6C 0%, #040711 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .instructions {
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions p {
    margin: 0;
  }
</style>
